# Google Cloud Settings
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=karuna-ai
GOOGLE_CLOUD_LOCATION=us-central1

# Agent Settings
KARUNA_MODEL=gemini-live-2.5-flash-native-audio
KARUNA_VOICE_NAME=Achird
